@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-schist-higher: #27272B;
        --color-schist-high: #66666E;
        --color-schist-medium: #9999A1;
        --color-schist-default: #E6E6E9;
        --color-schist-low: #f4f4f6;
        --color-schist-lower: #ffffff;

        --color-green-default: #283620;

        --color-purple-default: #8956ff;

        --color-orange-default: #f16200;
        --color-orange-accent: #d47739;

        --color-tan-default: #fecb8b;

        --bg-overlay: 0, 0, 0, 0.5;

        --bg-overlay-error: 239, 68, 68, 0.25;
    }
}